!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' =>'Content-Type'}
  %body
    :markdown
      #{t('.body', user_name: @user.name, link_to_reset_password: edit_reset_password_url(key: @user.reset_password_key))}
