
%h2
  Welcome #{@user.nom}

.last-messages
  %p
    Voici les derniers messages sur le forum
  %ul
    %li
      message de Raymond, le 22/9/2014 à 22h34
      %em
        non mais c'est quoi ce binzzz

.last-lessons
  %p
    Les cours disponibles
  %ul
    %li
      %a{href:'#'}
        Cours du 4/10/2014
    %li
      %a{href:'#'}
        Cours du 23/9/2014
  %p
    = link_to t('.lessons'), lessons_path

.last-qcms
  %p Les derniers QCMs
  %ul
    - @qcms.each do |qcm|
      %li
        = link_to qcm.title, qcm_path(qcm.id)
  = link_to "Créer votre QCM", new_qcm_path
