%li
  = t('.submission_for')
  = link_to truncate(submission.chapter.title, length: 40, separator: ' '),lesson_chapter_path(submission.chapter.lesson, submission.chapter)
  = t('.missing_validation', count: submission.missing_validations)
