%li
  = t('.submission_for')
  = link_to truncate(submission.chapter.title, length: 40, separator: ' '),lesson_chapter_path(submission.chapter.lesson, submission.chapter)
  = t('.by', author: submission.user_name)