%h2= @chapter.title

%p
  = link_to t('.back_to_lesson'), lesson_path(@lesson)
  - if current_user.local?
    = link_to t('.edit'), edit_lesson_chapter_path(@lesson, @chapter)


:markdown
  #{@chapter.content}

