/*
 *= require_self
 */

@font-face {
  font-family: 'futurabook';
  src: asset-url('futura_book-webfont.eot');
  src: asset-url('futura_book-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('futura_book-webfont.woff') format('woff'),
  asset-url('futura_book-webfont.ttf') format('truetype'),
  asset-url('futura_book-webfont.svg#futurabook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraheavy';
  src: asset-url('futura_heavy-webfont.eot');
  src: asset-url('futura_heavy-webfont.eot?#iefix') format('embedded-opentype'), asset-url('futura_heavy-webfont.woff') format('woff'), asset-url('futura_heavy-webfont.ttf') format('truetype'), asset-url('futura_heavy-webfont.svg#futuraheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin:0;
  padding:0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure,
hgroup {
  font-size: 1em; /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0 0;
}
h1:first-letter,
h2:first-letter,
h3:first-letter,
h4:first-letter,
h5:first-letter,
h6:first-letter{
  text-transform: capitalize;
}

.dashboard-box{
  width: 45%;
  min-width: 320px;
  height: 19em;
  float: left;
  padding: 0.8em;
  margin: 0.5em;
  border-radius: .25rem;
  background: rgba(255,255,255,.6);
  border-left: 0.7em solid rgba(18,179,174,.3);
}

.dashboard-list{
  padding-bottom: 0em;
}

.dashboard-list li a{
  text-decoration: none;
}

h1, .h1-like {
  font-size: 1.8571em; /* equiv 26px */
  line-height: 1.6154em;
  margin: .8077em 0 0 0;

  }

h2, .h2-like {
  font-size: 1.7143em; /* equiv 24px */
  font-weight: normal;
  line-height: 1.75em;
  margin: .875em 0 0 0;
}

h3, .h3-like {
  font-size: 1.5714em; /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: .9545em 0 0 0;
}

h4, .h4-like {
  font-size: 1.4286em; /* equiv 20px */
  font-weight: normal;
  line-height: 1.05em;
  margin:  1.05em 0 0 0;
}

h5, .h5-like {
  font-size: 1.2857em; /* equiv 18px */
  font-weight: normal;
  line-height: 1.1667em;
  margin:  1.1667em 0 0 0;
}

h6, .h6-like {
  font-size: 1.1429em; /* equiv 16px */
  font-weight: normal;
  line-height: 1.3125em;
  margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
  font-size: .7143em; /* equiv 10px */
  line-height: 2.1em;
}

.small {
  font-size: .8571em; /* equiv 12px */
  line-height: 1.75em;
}

.big {
  font-size: 1.1429em; /* equiv 16px */
  line-height: 1.3125em;
}

.bigger {
  font-size: 1.2857em; /* equiv 18px */
  line-height: 1.1667em;
}

.biggest {
  font-size: 1.4286em; /* equiv 20px */
  line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0 0 2em 1em;
}

code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}

code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

.right {
  float:right;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* pictures */
img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  left: -9999px;
  padding: 0.5em;
  background: #000;
  color:#fff;
  text-decoration: none;
}

.skip-links a:focus {
  position: static;
}

body {
  background: #000 asset-url('bgi-body.jpg') center top no-repeat fixed;
  vertical-align: baseline;
  font-family: 'futurabook',Arial,Helvetica,sans-serif;
  font-size: 1em;
  line-height: 2rem;
  height: 100%;
  width: 100%;
}

a, button, label, .button { cursor: pointer;}

.color-01 { color: rgba(94,52,12,1);}    /*marron foncé*/
.color-02 { color: rgba(12,89,95,1);}    /*bleu foncé*/
.color-03 { color: rgba(18,179,174,1);}  /*bleu clair*/
.color-04 { color: rgba(255,255,255,1);} /*blanc*/

.connexion {
  background: #fff;
  padding: 1rem 0;
  margin: 0 auto;
}

.title-m, .title-l, .title-xl {
  font-family: 'futuraheavy',Arial,Helvetica,sans-serif;
}

.title-m { font-size: 1rem;}
.title-l { font-size: 2rem;}
.title-xl { font-size: 4rem;}

.number {
  font-family: 'futurabook',Arial,Helvetica,sans-serif;
  font-size: 4rem;
}

.note {
  line-height: 1rem;
  margin: 0 0 0 10px;
  display: inline-block;
}

.link {
  font-family: 'futuraheavy',Arial,Helvetica,sans-serif;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.header {
  text-align:center;
  background-color:#ee1752;
  padding:1em;
  margin:0;
  height: 6rem;
  box-shadow: 0 -4px 0 rgba(0,0,0,.2) inset;
}

.header-title {
  color: #fdfdfd;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
}

.content {
  clear: both;
  max-width: 80em;
  margin:4rem auto;
  padding: 2em;
  background: rgba(255,255,255,.9);
  color:#094146;
  overflow: hidden;
  -moz-border-image: asset-url('border-01.png') 10 / 10px  stretch;
  -webkit-border-image: asset-url('border-01.png') 10 / 10px  stretch;
  -o-border-image: asset-url('border-01.png') 10 / 10px  stretch;
  border-image: asset-url('border-01.png') 10 / 10px  stretch;
}

.content p  {
  margin: 1.2em;
}

.connexion {
  background-color: #fdfdfd;
  color:#094146;
  padding:1em;
  text-align:right;
}

.field {
  border:1px solid #ccd0d0;
}

.fa-list-essai {
  color: #999;
  font-size : 1.2em;
  margin-right : 25px;
}

.footer {
  text-align:center;
  background: rgba(238,23,82,1);
  padding: 2em 0;
  box-shadow: 0 4px 0 rgba(0,0,0,.2) inset;
}

.footer-menu {
  list-style:none;
}

.footer-menu-item, .footer a {
  display:inline;
  color: #fdfdfd;
}

.little-form {
  display: inline;
}

.CodeRay {
  line-height: 1;
  margin: none;
  background-color: rgba(0, 0, 0, 0.027);
  font-family: Courier;
  padding:5px;
  border: 1px dotted lightgrey;
}

.design-01 {
  padding: 6rem 0 3rem;
  overflow: hidden;
}

.design-02 {
  padding: 6rem 0 3rem;
  background: rgba(255,255,255,.8);
  overflow: hidden;
  -moz-border-image: asset-url('border-01.png') 10 / 10px  stretch;
  -webkit-border-image: asset-url('border-01.png') 10 / 10px  stretch;
  -o-border-image: asset-url('border-01.png') 10 / 10px  stretch;
  border-image: asset-url('border-01.png') 10 / 10px  stretch;
}

.design-03 {
  padding: 6rem 0 3rem;
  background: rgba(0,0,0,0) asset-url('bgi-03.png') center top repeat;
  overflow: hidden;
  border: 4px solid rgba(18,179,174,1)
}

.field {
  border-radius: .25rem;
}

.button {
  padding: 0.8rem 0.8rem;
  border-radius: .25rem;
  background: rgba(238,23,82,1);
  font-family: 'futuraheavy',Arial,Helvetica,sans-serif;
  color: rgba(255,255,255,1);
  box-shadow: 0 -4px 0 rgba(0,0,0,.2) inset;
  text-decoration: none
}

.button:hover {
  background: rgba(237,71,115,1);
}

.edit_box {
  padding: 1.2rem;
  margin: 0.8rem;
  border-radius: 3px;
  background: #FFF;
}

fieldset {
  border: 1px solid #f2be10;
  margin: 1em;
  display: inline;
}

.chapter-list {
  list-style-type: none
}
