/*
 *= require_tree .
 *= require_self
 */

.fa-list-essai {
  color: #999;
  font-size : 1.2em;
  margin-right : 25px;
}

.footer {
  font-size:0.9em;
  margin:1em 0;
  padding: 1em;
}

.footer-menu {
}
