
%h3= t('.title')
%p= link_to t('.addkeyword'), new_lexique_path
%ul
  - @lexiques.each do |l|
    %li
      %h2
        = l.keyword
      %em
        = l.description.first(255) 
        =link_to t('.readmore'), lexique_path(l.id)

    %br